


<form action=<%= "/questions/new" %> method="get">
    <input id="create-question" type="submit" value="Create A Question">
</form>

<div >
  <h1>Question Title</h1>
</div>

<div>
	<% @questions.each do |question| %>
  <a href= <%= "questions/#{question.id}/answers" %>> <%= question.title %></a><br><br>
  <% end %>
</div>
