.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  text-align: center;

}

.container h1 {
  font-size: 17pt;

}

.comment{
  border-bottom: solid #0F083B 0.05em;
  margin:1em;
}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  border-style: solid;
  border-bottom: thick dotted #0F083B;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
  color: #857DB1;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

h1{
  font-family: Copperplate,'Copperplate Gothic Light', fantasy;
}
.answer{
  margin: auto;
}

img {
  width :500px;
  height : 250px;
  text-align:  center;
}
 .answer-container{
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}

body {
  background-color: rgb(92, 83, 147);

}

.question-container{
  display: block;
  padding-left: 5px;
}

div article {
  padding-left: 5px;
  width: 40%;
}

body p {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  test-decoration: none;
}
.header {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.display_answer_comments {
  padding-left: 30;
}

article > p {
  text-align: left;
}

.answer{
  text-align: left;
  padding-left: 20px;
  border-bottom: solid #0F083B;
  margin-bottom: 10px;
}