.vote-button {
  text-decoration: none;
  display: block;
  vertical-align: sub;
  width: 15px;
  height: 15px;
}
.vote-button::after {
  content: "▲";
  color: green;
}

.down-vote-button {
  text-decoration: none;
  display: block;
  vertical-align: sub;
  width: 15px;
  height: 15px;
}
.down-vote-button::after {
  content: "▼";
  color: red;
}
.question-container{
  display: block;
  padding-left: 5px;
}

div article {
  border-top: 1px solid maroon;
  padding-left: 5px;
  width: 40%;
}

body p {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  test-decoration: none;
}
.header {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  text-align: center;
}
