<div>
  <h2>Login with your Username and Password!</h2>

  <form action="/login" method="post">
    <label for="login[username]">Username: </label>
    <input name="login[username]" type="text">
    <label for="login[password]">Password: </label>
    <input name="login[password]" type="password">
    <input type="submit" value="Login">
  </form>

</div>
