
<div class="center-div text-center form-action margin-bot-1">
  <div id="new">
  <h2>Register with a FUN username and password! (IT BETTER BE A FUN ONE!)</h2>

  <form action="/users" method="post">
    <label for="login[username]">Username: </label>
    <input name="login[username]" type="text">
    <label for="login[password]">Password: </label>
    <input name="login[password]" type="password">
    <input type="submit" value="Register">
  </form>

  </div>
</div>
